0-positive_or_negative
2-print_alphabet
7-print_tebahpla
100-print_comb3
3-print_alphabets
8-print_base16
101-print_comb4
4-print_alphabt
9-print_comb
102-print_comb5
5-print_numbers
a.out
1-last_digit
6-print_numberz
